@font-face {
    font-family: Sherbet;
    src: url(../Assets/Sherbet\ BF\ W01\ Regular.ttf);
  }
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  margin-bottom: 10px !important;
  display: block;
  margin: auto;
  height: 50px;
  width: 50px;
  filter:drop-shadow(0 0 2px #ffffff);
}
.heading{
    font-family: Sherbet;
    color: #ffffff;
    font-weight: 100;
    font-size: 3rem;
    margin: 10px 0 10px 0;
}
body {
  background-image: url(../Assets/bg-final.svg);
  background-repeat: repeat;
  background-size: 300px;
  background-color: #16181A;
  font-family: 'Patrick Hand', cursive;
  padding: 10px 0 10px 0;
  height: 100vh;
  /* background-image: linear-gradient(#0f2027, #203a43, #2c5364); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrap {
  display: flex;
  flex-direction: column;
  height: calc(60vh + 50px);
  width: 955px;
  gap: 10px;
}
@media (max-width: 975px) {
  .wrap {
    width: calc(100% - 20px);
  }
  .container{
      border-radius: 30px !important;
  }
}
/* chat container */
.container {
  position: relative;
  display:flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1C1E20;
  border-radius: 50px;
  height: 60vh;
  overflow-y: auto;
}
.container::-webkit-scrollbar {
            width: 10px;
            
}
.container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #3f4694;
}
/* custom scroll-bar */
/* .scroll-bar {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 10px;
    background-color: red;

}
.thumb{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 0px;
} */
.message:first-child{
    margin-top: 20px;
}
.message {
  position: relative;
  background-color: #23262B;
  max-width: 50%;
  min-width: 24%;
  padding: 15px;
  border-radius: 20px;
  color: #ffffffc2;
}
.message-join {
    text-align: center;
    color: tomato;
  }
  .message-join:first-child{
      margin: 20px 0 20px 0;
  }

.left {
    margin-right: auto;
    margin-left: 33px;
}

.right {
  margin-left: auto;
  margin-right: 33px;
}
/* chat box design */
.right::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  /*  #5b6c72 */
  background-color: #23262B;
  top: -2px;
  right: -13px;
  border-radius: 50%;
}
.right::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #1C1E20;
  top: -12px;
  right: -11px;
  border-radius: 50%;
}

.send {
  position: relative;
  height: 50px;
  /* background-color: red; */
  display: flex;
}
#messageInp {
    color:#61e1fa;
  font-family: 'Patrick Hand', cursive;
  background-color: #1C1E20;
  width: calc(100% - 110px);
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  /* color: tomato; */
}

::placeholder{
    color: #61e1fa;
}
.btn {
    color: #61e1fa;
    background-color: #1C1E20;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2rem;
  cursor: pointer; 
  border-radius: 30px;
  border: none;
  margin-left: auto;
  width: 100px;
  outline: none;
  transition: 0.4s;
}
.btn:hover{
    color: rgb(0, 0, 0);
    background-color: #61e1fa;
}
